---
import {Image} from 'astro:assets';
import image from '../../img/about/computers.jpg'
---
<div class="relative bg-gray-50 dark:bg-gray">
    <div class="lg:relative">
        <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
            <section class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
                <h1 class="text-4xl tracking-tight font-extrabold text-red dark:text-red-light sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
                            <span
                                    class="block xl:inline">Vidya is a software services and consulting company</span>{' '}
                    <span class="block text-blue dark:text-blue-light xl:inline">based in Washington, DC, USA</span>
                </h1>
            </section>
        </div>
        <Image class="object-cover relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full  z-30"
               src={image}
               alt="A team working together on their laptops"
        />
        <div class="absolute inset-0  mix-blend-multiply"/>
    </div>
</div>
