---
import {Image} from 'astro:assets';
import capabilityStatement from "../../img/about/capability-statement.png"
---
<div class="relative py-16 bg-white dark:bg-red overflow-hidden">
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
        <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
            <svg
                    class="absolute top-12 left-full transform translate-x-32"
                    width={404}
                    height={384}
                    fill="none"
                    viewBox="0 0 404 384"
            >
                <defs>
                    <pattern
                            id="74b3fd99-0a6f-4271-bef2-e80eeafdf357"
                            x={0}
                            y={0}
                            width={20}
                            height={20}
                            patternUnits="userSpaceOnUse"
                    >
                        <rect x={0} y={0} width={4} height={4} class="text-gray-200" fill="#E0E0E0"/>
                    </pattern>
                </defs>
                <rect width={404} height={384} fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"/>
            </svg>
            <svg
                    class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32"
                    width={404}
                    height={384}
                    fill="none"
                    viewBox="0 0 404 384"
            >
                <defs>
                    <pattern
                            id="f210dbf6-a58d-4871-961e-36d5016a0f49"
                            x={0}
                            y={0}
                            width={20}
                            height={20}
                            patternUnits="userSpaceOnUse"
                    >
                        <rect x={0} y={0} width={4} height={4} class="text-gray-200" fill="#E0E0E0"/>
                    </pattern>
                </defs>
                <rect width={404} height={384} fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"/>
            </svg>
            <svg
                    class="absolute bottom-12 left-full transform translate-x-32"
                    width={404}
                    height={384}
                    fill="none"
                    viewBox="0 0 404 384"
            >
                <defs>
                    <pattern
                            id="d3eb07ae-5182-43e6-857d-35c643af9034"
                            x={0}
                            y={0}
                            width={20}
                            height={20}
                            patternUnits="userSpaceOnUse"
                    >
                        <rect x={0} y={0} width={4} height={4} class="text-gray-200" fill="#E0E0E0"/>
                    </pattern>
                </defs>
                <rect width={404} height={384} fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"/>
            </svg>
        </div>
    </div>
    <div class="relative px-4 sm:px-6 lg:px-8">
        <section class="text-lg max-w-prose mx-auto">
            <h1>
                        <span
                                class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-red dark:text-red-light sm:text-4xl">
              Our Mission
            </span>
            </h1>

            <p class="mt-8 text-xl text-gray-dark dark:text-blue-light leading-8">
                Vidya, LLC builds modernized on-premise, cloud, and hybrid solutions for commercial businesses and
                government agencies according to their strategic objectives. Our work proves there
                is no need to choose between continuous delivery and high quality.
            </p>
            <p class="mt-8 text-xl text-gray-dark dark:text-blue-light leading-8">
                Federal SBA 8(a), Commonwealth of Virginia SWaM, and multiple commercial certifications as a minority-owned business are testament to
                our ability not only to deliver lean, innovative solutions for our clients but
                also to do so the right way using techniques like agile development, DevSecOps, and automated
                testing not only for functionality but also for security, accessibility, and performance.
            </p>
        </section>
        <section class="text-lg max-w-prose mx-auto">
            <h2 class="mt-8 block text-3xl text-center leading-8 font-extrabold tracking-tight text-red dark:text-red-light sm:text-4xl">Our Differentiators</h2>
            <p class="mt-4 text-xl text-gray-dark dark:text-blue-light leading-8">
                These are some of the values that distinguish Vidya, LLC from others in the space:

            <ul>
                <li>Dedication to communication, which is the basis for teamwork, transparency, accountability, and humility as we don't know everything</li>
                <li>Commitment to listen to understand your unique business problems and solve them as simply as possible</li>
                <li>Proven track record of modernizing cloud-scale software by integrating a wide breadth of newer, even leading edge technologies with legacy systems that still generate value for your organization</li>
                <li>Expertise across disparate disciplines like modern UI, APIs, data engineering and analytics, and cybersecurity</li>
                <li>Understanding the profound influence non-technical disciplines like <a href="/blog/why-coding-interviews-are-the-worst">recruiting </a>
                    and <a href="https://ditap.learning-transformation.com/assets/courseware/v1/aae244dc51e2e3a16613bee911809da0/asset-v1:ICF+DITAP01+2018_T1+type@asset+block/ICF-ASI_Team_Phase_II_Submission_For_the_DSCPT_Development_Program_Challenge.pdf">contracting </a>
                    have on the success of technology initiatives</li>
                <li>Staff with PMP and agile certifications</li>
                <li>Published content, public speaking, and cited for expertise in multiple government reports like <a href="https://www.gao.gov/assets/gao-12-681.pdf">this one</a></li>
                <li>Course instruction because you don’t really know something unless you can teach it</li>
            </ul>
            </p>
        </section>
        <section class="text-lg max-w-prose mx-auto">
            <h2 class="mt-8 block text-3xl text-center leading-8 font-extrabold tracking-tight text-red dark:text-red-light sm:text-4xl">Our Services</h2>
            <p class="mt-4 text-xl text-gray-dark dark:text-blue-light leading-8">
            <ul>
                <li>Custom application development for your organization</li>
                <li>Consulting with your team on architecture and development on large software projects, assessing the current state of your software,
                    optimizing your recruiting and contracting practices to motivate the right values, agile mentorship, technical communications
                </li>
                <li>Training courses focused on the practical lessons that make you more productive and
                    marketable in the real world
                </li>
                <li>Blog posts and video tutorials on software development and the ways technology impacts the
                    world
                </li>
            </ul>
            </p>
        </section>
        <section class="text-lg max-w-prose mx-auto">
            <h2 class="mt-8 block text-3xl text-center leading-8 font-extrabold tracking-tight text-red dark:text-red-light sm:text-4xl">Our Capability Statement</h2>
            <p class="mt-4 text-xl text-gray-dark dark:text-blue-light leading-8">
                <Image
                        height="792"
                        width="612"
                        quality={100}
                        class="inline-block"
                        src={capabilityStatement}
                        alt="Vidya Capability Statement"
                />
            </p>
            <p class="mt-4 text-xl text-gray-dark dark:text-blue-light leading-8">
                You can also view the <a href="/vidya-capability-statement.pdf" target="_blank">Vidya Capability Statement as a PDF</a>.
            </p>
        </section>
    </div>
</div>
