---
import Home from '../layouts/home/Home.astro';
import {ClientRouter} from 'astro:transitions';
import VidyaSEO from "../components/VidyaSEO.astro"
import vidyaSchema from '../components/vidyaSchema.json'
import Analytics from "../components/Analytics.astro";
---
<html lang="en">
<head>
    <Analytics />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Vidya is a certified IT consulting firm specializing in AI, cloud, and software modernization services. Partner with our experts to transform your organization."/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="preload" href="https://use.typekit.net/wth1wdu.css?display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://use.typekit.net/wth1wdu.css?display=swap"></noscript>
    <meta name="generator" content={Astro.generator}/>
    <meta name="theme-color" content="#5A82B4">
    <ClientRouter/>˚
    <VidyaSEO title="Vidya | AI & Cloud Consulting and Modernization"
              description="Vidya is a certified IT consulting firm specializing in AI, cloud, and software modernization services. Partner with our experts to transform your organization."
              schema={vidyaSchema}
    />
</head>
<body>
<Home/>
</body>
</html>
