---
interface Props {
    title: string
    description: string
    category: string
}

const {title, description, category} = Astro.props
---
<section class="bg-blue-light dark:bg-red">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="text-base font-semibold text-green-dark dark:text-green-light tracking-wide uppercase">{category}</h1>
            <h2 class="mt-1 text-4xl font-extrabold text-red dark:text-red-light sm:text-5xl sm:tracking-tight lg:text-6xl">
                {title}
            </h2>
            <p class="max-w-xl mt-5 mx-auto text-xl text-gray-dark dark:text-blue-light">
                {description}
            </p>
        </div>
    </div>
</section>