<div class="bg-blue-light dark:bg-blue">
    <section
            class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-dark md:text-4xl">
            <span class="block dark:text-green-light">Want to transform your business?</span>
            <span class="block text-red dark:text-blue-light">Get in touch today!</span>
        </h2>
        <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            <div class="inline-flex rounded-md shadow">
                <a href="/contact" class="inline-flex contact-us">
                    Contact Us
                </a>
            </div>
        </div>
    </section>
</div>