---
const {id, title} = Astro.props
---
<section class="p-12">
    <div class="youtube">
        <iframe src={`https://www.youtube.com/embed/${id}`} allowFullScreen title={title}/>
    </div>
</section>