@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    p {
        @apply py-2 text-gray-dark dark:text-blue-light
    }

    a {
        @apply text-blue dark:text-green-light hover:text-red-light;
    }

    h1 {
        @apply text-red dark:text-red-light text-4xl md:text-5xl mt-8 mb-4;
    }

    h2 {
        @apply text-red dark:text-red-light text-3xl md:text-4xl mt-4;
    }

    h3 {
        @apply text-red dark:text-red-light text-2xl md:text-3xl mt-8;
    }

    blockquote p {
        @apply text-green-dark dark:text-green-light italic border-l-8 px-8 my-8;
    }

    .youtube {
        @apply relative h-0 overflow-hidden pb-youtube
    }

    .youtube iframe {
        @apply absolute top-0 left-0 w-full h-full border-0
    }

    span.a {
        @apply text-blue cursor-pointer;
    }

    li {
        @apply pl-4 italic my-4;
    }

    .prose .text-red {
        color: #9c4d61;
    }

    .prose .text-red-light {
        color: #F8ECEF;
    }

    .prose .text-blue {
        color: #5a82b4;
    }

    .prose a {
        @apply text-blue dark:text-blue-light hover:text-green-light;
    }

    .prose .text-blue-light {
        color: #F4F9FE;
    }

    [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
        @apply focus:outline-none ring-green border-green
    }

    .contact-us {
        @apply items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white dark:text-red dark:hover:text-blue bg-red dark:bg-red-light hover:bg-blue-dark dark:hover:bg-blue-light;
    }

    .page-logo {
        background-color: #fff;
        padding: 5px;
        border-radius: 10px;
    }

    .dark .logo {
        background-color: #fff;
        border-radius: 10px;
        padding: 5px;
    }

    .dark .prose .dark-text-red-light {
        color: #F8ECEF;
    }

    .dark .prose .dark-text-blue-light {
        color: #F4F9FE;
    }
}